<!-- form handling -->
<form action="/api/users" method="POST" id="add_user">
    <div class="new_user">
        <div class="form-group">
            <label for="tag" class="text-light">Tag</label>
            <input type="hidden" name="id" value="">
            <input type="text" name="tag" value="" placeholder="School">
        </div>
        <div class="form-group">
            <label for="todo" class="text-light">Todo</label>
            <input type="text" name="todo" value="" placeholder="Complete ...">
        </div>
        <div class="form-group">
            <button type="submit" class="btn text-dark update">Save</button>
        </div>

    </div>
</form>